<div class="depot_form">
<% if flash[:alert] %>
<p id="notice"><%= flash[:alert] %></p>
<% end %>
<%= form_tag do %>
<fieldset>
<legend>লগইন করুন</legend>
<div>
<label for="name">নাম:</label>
<%= text_field_tag :name, params[:name] %>
</div>
<div>
<label for="password">পাসওয়ার্ড:</label>
<%= password_field_tag :password, params[:password] %>
</div>
<div>
<%= submit_tag "লগইন" %>
</div>
</fieldset>
<% end %>
</div>
