<h1>ব্যবহারকারী</h1>

<table>
  <tr>
    <th>নাম</th>
    <th>হ্যাশড পাসওয়ার্ড</th>
    <th>এক্সট</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.hashed_password %></td>
    <td><%= user.salt %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'নতুন ব্যবহারকারী', new_user_path %>
