<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Age:</b>
  <%= @customer.age %>
</p>

<p>
  <b>Location:</b>
  <%= @customer.location %>
</p>

<p>
  <b>Description:</b>
  <%= @customer.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @customer.image_url %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>

<br />
<br />
<br />
<h1>Your Pragmatic Catalog</h1>
<% @products.each do |product| %>
<div class="entry">
<%= image_tag(product.image_url) %>
<h3><%= product.title %></h3>
<%= sanitize(product.description) %>
<div class="price_line">
<span class="price"><%= product.price %></span>
</div>
</div>
<% end %>