<h1>সকল অর্ডার</h1>

<%= form_tag orders_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "খুঁজুন", :name => nil, class: "btn btn-small btn-primary" %>
  </p>
<% end %>


<table>
  <tr>
    <th>নাম</th>
    <th>ঠিকানা</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td><%= link_to 'দেখুন', order %></td>
    <td><%= link_to 'এডিট করুন', edit_order_path(order) %></td>
    <td><%= link_to 'মুছে ফেলুন', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'নতুন অর্ডার', new_order_path %>
