<p id="notice"><%= notice %></p>

<p>
  <b>নামঃ</b>
  <%= @order.name %>
</p>

<p>
  <b>ঠিকানা</b>
  <%= @order.address %>
</p>

<p>
<%= render @order.line_items %>
<td class="total_cell">সর্বমোট মূল্যঃ <%= number_to_currency(@order.total_price) %></td>
</br>
</p>
</br>

<p>
  <b>পরিশোধ করা হয়েছেঃ</b>
  <%= number_to_currency(@order.paid_amount) %>
</p>

<p>
  <b>বাকি রয়েছেঃ:</b>
  <%= number_to_currency(@order.current_due) %>
</p>

<p>
  <b>তারিখঃ</b>
  <%= @order.published_at.strftime('%F %A %R ') %>
</p>

<p id="pdf_link"><%= link_to "Download Invoice (PDF)", order_path(@order, :format => "pdf") %></p>



<%= link_to 'এডিট', edit_order_path(@order) %> |
<%= link_to 'ফেরত যান', orders_path %>
