<h1>পণ্যের তালিকা</h1>

<%= form_tag products_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "খুঁজুন", :name => nil, class: "btn btn-small btn-primary" %>
  </p>
<% end %>

<table>
  <tr>
    <th>নাম</th>
    <th>বিবরণ</th>
	<th>মূল্য</th>
    <th>ছবি</th>
    <th></th>
    <th></th>
    <th></th>
	</br>
  </tr>
</br>

<% @products.each do |product| %>
  <tr>
    <td><%= product.title %></td>
    <td><%= product.description %></td>
	<td><%= product.price %></td>
	<td><%= image_tag(product.image_url) %></td>
    <td><%= link_to 'বিস্তারিত', product %></td>
    <td><%= link_to 'এডিট করুন', edit_product_path(product) %></td>
    <td><%= link_to 'মুছে ফেলুন', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'নতুন পণ্য', new_product_path, class: "btn btn-small btn-primary" %>
