<p id="notice"><%= notice %></p>

<p>
  <b>নাম:</b>
  <%= @product.title %>
</p>

<p>
  <b>বিবরণ:</b>
  <%= @product.description %>
</p>

<p>
  <b>ছবি:</b>
  <%= image_tag(@product.image_url) %>
</p>

<p>
  <b>মূল্য:</b>
  <%= @product.price %>
</p>


<%= link_to 'এডিট', edit_product_path(@product) %> |
<%= link_to 'ফেরত যান', products_path %>
