<!DOCTYPE html>
<html>
<head>
  <title>ক্রয়-বিক্রয়</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
      
<%if @cart %>	  
<%= hidden_div_if(@cart.line_items.empty?, :id => "cart") do %>
<%= render @cart %>
<% end %>
<% end %>

<% if session[:user_id] %>
<br />
<header class="navbar navbar-fixed-top navbar-inverse">
 <div class="navbar-inner">
    <div class="container">
	
<nav>
	<ul class="nav pull-right">
<li><%= link_to 'অর্ডার', orders_path %><br /></li>
<li><%= link_to 'পণ্যসমূহ', products_path %><br /></li>
<li><%= link_to 'ব্যবহারকারি', users_path %><br /></li>
<li><%= button_to 'লগ আউট', logout_path, :method => :delete,class: "btn btn-large btn-danger" %></li>
 </ul>
 </nav>
<br />

<% end %>
</div>
  </div>
</header>
<body>
</br>
</br>
</br>
</br>
</br>
</br>
<%= yield %>

</body>
</html>
